body {
    margin: 25px;
    padding: 0;
}
* {
    font-family: 'Patrick Hand', cursive;
}
.gameWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choiceBtns {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 25px;
}
.result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.player, .computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    font-size: 45px;
    width: 85px;
    background-color: #ff4942;
    color: #fff;
    outline: none;
    border: 2px solid #222;
    border-radius: 5px;
}
div {
    margin-top: 15px;
    font-size: 28px;
}
footer {
    font-size: 20px;
    margin-top: 115px;
}